
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
h1 {
    margin-bottom: 1rem;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input[type="text"] {
    padding: 0.5rem;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="submit"] {
    padding: 0.5rem;
    width: 100%;
    max-width: 300px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}


span {
    display: block;
    margin-top: 2rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Arial, sans-serif;
}
button {
    padding: 0.5rem;
    margin-left: 1rem;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
button.copiado {
    background-color: #28a745;
}